@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="Styles.css">

    <title>Univalle</title>
</head>
<body style="font-family: Arial; background: url(Images/fondo.jpg); background-size: cover; background-attachment: fixed; ">
    <div style="width:80%; background-color:aqua; height:60px; margin:auto">
        FOTO UNIVALLE
    </div>

    <div style="width: 80%; margin: auto; align-content: center; display: flex; align-items: flex-start; margin-bottom: 50px; margin-top:50px">
        <div style=" width: 50%; height: 50%; background-color: rgb(255, 255, 255); border: 5px solid black; border-radius: 10px; font-size: 25px;">
            <img src="~/images/sobre-univalle.png" style="margin:auto; height:100%; width:100%" /> <br />
            <div style="width:80%; margin:auto">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AdKEFubfkiA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%;"></iframe>
            </div>
        </div>
        <div style="margin-left: auto; margin-right: auto; margin: 0; padding: 0; width: 50%; height: 60%; background-color: rgb(255, 255, 255); border-radius: 20px; margin-left:10px">
            <div class="textParraf" style="margin:20px;">
                <p>
                    <h1 class="textTittle">"Sobre Univalle"</h1>
                    Fundada el 4 de octubre de 1988 por el Dr. Gonzalo Ruiz Martínez; Univalle se ha proyectado como sinónimo de excelencia académica a nivel Latinoamérica con más de 32 carreras a nivel de licenciatura.
                    En la actualidad, cerca de 14.000 estudiantes nacionales y extranjeros desarrollan sus estudios superiores en la infraestructura universitaria con mayor avance tecnológico de Bolivia.
                    En estos 33 años de trayectoria académica Univalle ha formado a más de 16.000 profesionales a nivel pregrado y postgrado en sus cuatro sedes que se encuentran en Cochabamba, La Paz, Sucre y Trinidad. Y próximamente en la nueva sede ubicada en Santa Cruz.
                    Nuestra historia refleja el hecho de que...
                </p>
                <p>
                    <h1 class="textTittle">"Somos la Respuesta Científica al Futuro"</h1>
                    Por eso, hemos construido 2 modernos Hospitales Universitarios de Bolivia, Clínica Odontológica, Planta de Alimentos, Canal de Televisión y otras unidades
                    estratégicas de negocios en Mecánica, Consultoría, Farmacología y diversos servicios para la población. Fortaleciendo aún más este emprendimiento este año
                    se iniciará la construcción del nuevo edificio del Campus Miraflores de la ciudad de La Paz, contará con laboratorios especializados para sus cinco Facultades,
                    con tecnología de vanguardia que lograrán en la universidad  los mejores estándares académicos a nivel internacional.
                </p>
                <p>
                    <h1 class="textTittle">Misión</h1>
                    “La Misión Institucional de la Universidad es producir, divulgar y difundir el conocimiento científico y tecnológico de tal manera que, se generen procesos de
                    investigación, experimentación y producción para apoyar el Desarrollo Integral del Estado Plurinacional.”
                </p>
                <p>
                    <h1 class="textTittle">Visión</h1>
                    “La Universidad asume como visión institucional, el concepto de que la formación profesional de pregrado y postgrado, junto con la utilización y aplicación
                    plenas del avance científico y tecnológico, contribuirán a la creación de bienestar social.”
                </p>
                <p>
                    <h1 class="textTittle">Autoridades</h1>
                    Rector:  Ing. M.Sc. Gonzalo Vicente Ruiz Ostria<br />
                    Vicerrector Académico: Ph.D. Diego Alonso Villegas Zamora<br />
                    Vicerrectora Interacción Social: Lic. M.Sc. Sandra Marcela Ruiz Ostria<br />
                    Vicerrector Sede Académica Santa Cruz: Lic. M.Sc. Antonio Carvalho Suárez<br />
                    Vicerrector Sede Académica Sucre: Lic. MBA. Carlos Torricos<br />
                    Vicerrector Sede Académica La Paz: Ing. M.Sc. Franklin Néstor Rada<br />
                    Vicerrector Sede Académica Trinidad: Arq. René Monje Morant<br />
                </p>
            </div>
        </div>
    </div>

    <div style="background-color:white; width:80%; margin:auto; border-radius:20px; padding:20px">
        <lb style="font-size:35px" class="textTittle">
            <u>Sedes Académicas Cochabamba</u>
        </lb>
        <div style="margin-top:20px">
            <h2>Campus Tiquipaya.-</h2>
            <p class="textParraf">
                Considerado el mejor Campus universitario del país, nuestro Campus Tiquipaya está ubicado en
                la florida zona de Tiquipaya y al pie del majestuoso Tunari, se extiende en una superficie
                construida de 103.671,80 m2, con 50 laboratorios, 9 salas de Medicina, 2 centros de computación,
                salas de audiovisuales, biblioteca, coliseo cerrado con capacidad para 3.500 personas, gimnasio,
                canchas de raquet, ping pong y áreas verdes; cuenta también con comedor, cafeterías, snack, gabinete
                médico y auditorios. Se encuentran los centros de práctica propios como la Planta de Alimentos UV,
                Imprenta y la Planta Metalmecánica.
            </p>
            <h2>Edificio Polifuncional Univalle.-</h2>
            <p class="textParraf">
                En el centro de la ciudad, se encuentra nuestro Edificio Polifuncional Univalle, dotado de 5 pisos
                y 5.719,25 m2 construidos, que cobijan las carreras Lic. en Fisioterapia y Kinesiología, Lic. en
                Comunicación y Medios Digitales, Odontología, laboratorios, salas de odontología, 4 centros de cómputo,
                26 aulas, auditorio, y servicios para el estudiante, Gabinete Psicológico y Asesoría Jurídica Popular;
                además, centros de práctica como la Clínica Odontológica, el Canal 43 de Univalle.
            </p>
        </div>
        <lb style="font-size:35px" class="textTittle">
            <u>Sede Académica La Paz</u>
        </lb>
        <div style="margin-top:20px">
            <h2>Campus Miraflores.-</h2>
            <p class="textParraf">
                Cuenta con el Edificio Univalle, ubicado en el residencial y céntrico barrio de Miraflores de la ciudad
                de La Paz; acoge en sus 20 plantas, laboratorios, talleres, una moderna clínica odontológica, salas de video
                , auditorios, salas de juicios orales, centros de cómputo e internet, biblioteca y todas las instalaciones
                necesarias para el desarrollo del proceso académico. Dispone también de instalaciones pertenecientes a
                consultorio jurídico popular, gabinete psicológico, consultorio médico y áreas verdes para esparcimiento.
            </p>
        </div>
        <lb style="font-size:35px" class="textTittle">
            <u>Sede Académica Sucre</u>
        </lb>
        <div style="margin-top:20px">
            <h2>Campus Gran Paitití. -</h2>
            <p class="textParraf">
                Nuestro campus "Gran Paitití" de Trinidad se encuentra construido en 5.022,26 m2; entre sus principales
                ambientes, cuenta con aulas de diseño, centros de cómputo, biblioteca, cafetería, campo de deporte y
                sala universitaria con capacidad para 300 personas.
            </p>
        </div>
        <lb style="font-size:35px" class="textTittle">
            <u>Sede Académica Trinidad</u>
        </lb>
        <div style="margin-top:20px">
            <h2>
                Campus Gran Paitití. -
            </h2>
            <p class="textParraf">
                Nuestro campus "Gran Paitití" de Trinidad se encuentra construido en 5.022,26 m2; entre sus principales
                ambientes, cuenta con aulas de diseño, centros de cómputo, biblioteca, cafetería, campo de deporte y
                sala universitaria con capacidad para 300 personas.
            </p>
        </div>
        <lb style="font-size:35px" class="textTittle">
            <u>Sede Académica Santa Cruz</u>
        </lb>
        <div style="margin-top:20px">
            <h2>
                Campus Santa Cruz. -
            </h2>
            <p class="textParraf">
                El Campus  Santa Cruz, ostenta convertirse en un referente arquitectónico en el campo académico
                a nivel nacional con sus 60 000 m² en la primera etapa. Este proyecto se desarrolla a través de 
                una galería continúa en forma de “O”, donde en la extensión de 140 metros lineales, va comunicando 
                los diferentes edificios, otorgando comodidad al tránsito de sus usuarios.
            </p>
        </div>
    </div>
</body>
</html>
